buildSrc filter=lfs diff=lfs merge=lfs -text
docs filter=lfs diff=lfs merge=lfs -text
gradle.properties filter=lfs diff=lfs merge=lfs -text
license filter=lfs diff=lfs merge=lfs -text
benchmarks filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
LICENSE.txt filter=lfs diff=lfs merge=lfs -text
CODE_OF_CONDUCT.md filter=lfs diff=lfs merge=lfs -text
CONTRIBUTING.md filter=lfs diff=lfs merge=lfs -text
bump-version.sh filter=lfs diff=lfs merge=lfs -text
CHANGES.md filter=lfs diff=lfs merge=lfs -text
gradlew.bat filter=lfs diff=lfs merge=lfs -text
integration filter=lfs diff=lfs merge=lfs -text
kotlinx-coroutines-debug filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
reactive filter=lfs diff=lfs merge=lfs -text
build.gradle filter=lfs diff=lfs merge=lfs -text
integration-testing filter=lfs diff=lfs merge=lfs -text
settings.gradle filter=lfs diff=lfs merge=lfs -text
kotlinx-coroutines-bom filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
stdlib-stubs filter=lfs diff=lfs merge=lfs -text
Android.bp filter=lfs diff=lfs merge=lfs -text
gradle filter=lfs diff=lfs merge=lfs -text
kotlinx-coroutines-test filter=lfs diff=lfs merge=lfs -text
coroutines-guide.md filter=lfs diff=lfs merge=lfs -text
gradlew filter=lfs diff=lfs merge=lfs -text
js filter=lfs diff=lfs merge=lfs -text
knit.properties filter=lfs diff=lfs merge=lfs -text
kotlinx-coroutines-core filter=lfs diff=lfs merge=lfs -text
MODULE_LICENSE_APACHE2 filter=lfs diff=lfs merge=lfs -text
RELEASE.md filter=lfs diff=lfs merge=lfs -text
site filter=lfs diff=lfs merge=lfs -text
ui filter=lfs diff=lfs merge=lfs -text
